<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body bgcolor="green">
	<form action="?p=Admin&c=News&a=update&id=<?php echo $_GET['id'] ?>" method="post">
		<h2 align="center">后台新闻修改中心</h2>
		<div align="center">请重新输入编号为 <font color="red"><?php echo $_GET['id'] ?> </font>的新闻信息</div>
		<table align="center" style="border: 1px solid black;margin-top:40px;" cellpadding="20px">
			<tr>
				<td>新闻标题：</td>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<td>访问人次：</td>
				<td><input type="text" name="hits"></td>
			</tr>
			<tr>
				<td>新闻内容：</td>
				<td><input type="text" name="contents"></td>
			</tr>
			<tr>
				<td>
					<input type="reset">
				</td>
				<td>
					<input type="submit" value="提交">
				</td>
			</tr>
		</table>

	</form>
</body>
</html>