<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>后台</h1>
	<table align="center" cellspacing="1" border="1px solid black">
		<tr>
			<th>id</th>
			<th>title</th>
			<th>intro</th>
			<th>imgurl</th>
			<th>time</th>
			<th>hits</th>
		</tr>
		<?php foreach ($arrs as $key => $value){
		?>
		<tr>
			<td><?php echo $value['id']; ?></td>
			<td><?php echo $value['title']?></td>
			<td><?php echo $value['intro']?></td>
			<td><?php echo $value['imgurl']?></td>
			<td><?php echo $value['time']?></td>
			<td><?php echo $value['hits']?></td>
		</tr>
		<?php } ?>
	</table>
	
</html>